# Files and folders starting with a dot, but keep .gitignore itself
.*
!.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.env
.venv/
env/
venv/

# IDE / Editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Test artifacts
.pytest_cache/
.coverage
htmlcov/

# OS-specific files
.DS_Store
Thumbs.db
